* {
  box-sizing: border-box;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: rgb(156, 21, 127);
  background-color: #ccc;
  background-image: url("../images/dessert.jpg");
  background-repeat: repeat;
  size: 960px;
}

h1, h2, h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 500;
  color: darkblue;
}


.container {
  width: 90%;
  margin-right: 10px;
}

#buttons {
  padding-top: 10px;
}

.btn2 {
  margin: 2px;
}

.gif {
  margin: 5px;
  padding: 2px;
}

.gifButton {
  margin: 5px;
  padding: 2px;
}